.footer-container {
  padding-block: 30px;
  background-color: rgb(0, 40, 85);
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer-text-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 16px;
}
.footer-text {
  text-decoration: none;
  color: white;
}

.footer-container .row {
  display: flex;
  gap: 25px;
  flex-direction: row;
}
.form-control {
  width: 340px;
  padding: 10px;
  height: 40px;
}
.form-control:focus {
  outline: none;
}
.input-addon {
  cursor: pointer;
  background-color: black;
  height: 40px;
  padding: 8.5px;
}

.input-group {
  margin-top: 30px;
}
.contact-container {
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.contact-container .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container .contact a {
  color: white;
  text-decoration: none;
}
@media (max-width: 600px) {
  .form-control {
    width: 250px;
  }
}
