.products-container {
  padding-inline: 50px;
  align-items: center;
  width: 100vw;
  padding-block: 60px;
  background-color: white;
  color: #444;
  display: flex;
  flex-direction: row;
  height: 100vh;
}
.products-container img {
  margin-block-start: 25px;
  width: 50%;
  height: 100%;
}

.products-container .product-details {
  align-items: flex-start;
  display: flex;
  width: 50%;
  padding-inline: 10px;
  flex-direction: column;
}

@media (max-width: 600px) {
  .products-container {
    flex-direction: column;
    height: auto;
    padding-inline: 10px;
  }
  .products-container .product-details {
    width: 100%;
  }
  .products-container img {
    width: 100%;
  }
}
