.flex {
  display: flex;
  flex-direction: column;
}
.flex p {
  font-size: 15px;
  max-lines: 2;
}

.product-box {
  color: white;
  max-width: 1200px;
}

.product-box > img {
  width: 100%;
}

.button-container {
  justify-content: space-evenly;
}
