.flex {
  display: flex;
  gap: 10px;

  flex-direction: column;
}
.flex p {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-box {
  color: white;
  max-width: 1200px;
}

.product-box  img {
  width: 100%;
  transition: transform ease-in-out 0.35s;
}
.flex button {
  cursor: pointer;
  width: 100%;
  height: 35px;
}

.image-container{
  overflow: hidden;
}

.image-container>img:hover{
  transform: scale(1.1);
}
