.home-container {
  padding-inline: 50px;
  align-items: center;
  padding-block: 50px;
  background-color: rgb(0, 98, 155);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  height: 100vh;
}
.header-text {
  font-size: 48px;
  font-weight: bold;
}
.leftside {
  row-gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  max-width: 500px;
}

.rightside {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}
.rightside>img{
  width: 500px;
  transition: transform ease-in-out 0.35s;
}

.rightside>img:hover{
  transform: scale(1.1);
}

.home-content {
  font-size: 16px;
}

.explore-btn {
  cursor: pointer;
  border-radius: 10px;
  font-size: 16px;
  width: 150px;
  height: 50px;
  background-color: black;
  border: 1px solid black;
  color: white;
  transition: all 0.3s ease-out;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.explore-btn:hover {
  border-radius: 50px;
  background-color: white;
  color: black;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

@media (max-width: 900px) {
  .header-text {
    font-size: 30px;
    font-weight: bold;
  }
  .home-container {
    padding-inline: 20px;
    min-height: 100vh;
    height: auto;
    flex-direction: column-reverse;
  }
  .leftside {
    width: 100%;
  }
}
