.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color:  #000000;
  color: #fff;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 4;
  padding-inline: 40px;
}

.navbar-container .logo {
  font-size: 1.5em;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 30px;
}

.nav-btn {
  position: relative;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
}

.nav-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-btn:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.search-container {
  margin-right: 200px;
}

.search-container form {
  display: flex;
}

.search-container input[type="text"] {
  border: none;
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-size: 0.9em;
  width: 200px;
}

.search-container button[type="submit"] {
  border: none;
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-size: 0.9em;
  cursor: pointer;
}

.menu-container {
  display: none;
  cursor: pointer;
}
.mobile-menu {
  display: none;
}

@media (max-width: 600px) {
  .navbar-links {
    display: none;
  }

  .menu-container {
    display: flex;
  }
  .search-container {
    display: none;
  }

  .mobile-menu > .search-container {
    display: flex;
  }

  .mobile-menu {
    align-items: center;
    display: flex;
    row-gap: 8px;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 1;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .navbar-links {
    display: none;
  }
  .menu-container {
    display: flex;
  }
  .search-container {
    display: none;
  }

  .mobile-menu > .search-container {
    display: flex;
  }

  .mobile-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    row-gap: 8px;
    z-index: 1;
  }
}

.mobile-menu > .search-container {
  margin: 20px;
}

.search-container {
  margin-right: 20px;
}

.search-container form {
  display: flex;
}

.search-container input[type="text"] {
  border: none;
  background-color: #444;
  color: #fff;
  padding: 10px;
  font-size: 0.9em;
  width: 200px;
}

.search-icon {
  display: flex;
  height: 40px;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}
