.about-container {
  background-color: rgb(0, 40, 85);
  padding-block: 44px;
  padding-inline: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-content {
  border-radius: 10px;
  font-size: 16px;
  padding: 25px 100px;
  height: fit-content;
  max-width: 500px;
  background-color: white;
  color: black;
  box-sizing: content-box;
}

.about-content:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.about-header {
  font-size: 48px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .about-container {
    padding-inline: 20px;
    align-items: center;
  }

  .img-container {
    display: none;
  }

  .about-content {
    padding: 20px;
  }

  .wrap {
    display: grid;
    justify-items: center;
  }
}

.content-image {
  position: relative;
  display: flex;
}

.img-container {
  position: relative;

  top: 75px;
  left: -50px;
  background-color: white;
  height: 100%;
  padding: 20px;
  border-radius: 20px;
}

.img-container > img {
  width: 200px;
}
