.about-container {
  background-color: rgb(24, 40, 51);
  padding-block: 44px;
  padding-inline: 50px;
  color: white;
}

.about-header {
  font-size: 48px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .about-container {
    padding-inline: 44px;
  }
}
